*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(30, 30, 30);
  color: white; 
  min-width: 550px;
}

header {
  padding: 20px 0px;
  background-color: white;
  width: 100%;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard-container {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(8, 20px);
  /* border-radius: 5px; */
  margin: 50px 0px;
}

@media only screen and (max-width: 940px){
  .scoreboard-container {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(8, 15px);
    /* border-radius: 5px; */
    margin: 40px 0px;
  }
}

.user {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 4 / 1 / 6 / 3;
  border-radius: 5px;
  text-transform: uppercase;
}

.comp {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 4 / 9 / 6 / 11;
  border-radius: 5px;
  text-transform: uppercase;
}

.score {
  grid-area: 1 / 5 / 10 / 7;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.blank1 {
  grid-area: 1 / 2 / 10 / 5;
  z-index: -10;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.blank2 {
  grid-area: 1 / 7 / 10 / 10;
  z-index: -10;
  border-right: 2px solid white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.user-move {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 5%;
  top: 15%;
  /* border: 1px solid yellow; */
  text-align: center;
  color: green; 
}

.comp-move {
  height: 200px;
  width: 200px;
  position: absolute;
  right: 5%;
  top: 15%;
  /* border: 1px solid yellow; */
  text-align: center;
  color: red;
}

.user-move, comp-move, i {
  font-size: 10rem;
}

@media only screen and (max-width: 940px){
  .user-move {
    left: 1%;
    top: 20%;
  }
  
  .comp-move {
    right: 1%;
    top: 20%;
  }

  .user-move, .comp-move, i {
    font-size: 8rem; 
  }
}

.commentary-text {
  font-size: 3rem;
  cursor: pointer; 
  text-align: center;
  max-width: 80%;
}

.result {
  font-size: 3rem;
  height: 40px;
}

.result-win {
  color: green; 
}

.result-loss {
  color: red;
}

.btn-container {
  margin: 50px 0px;
}

.btn-container > button {
  margin: 0px 20px;
  border: none;
  border-radius: 50%;
  background-color: rgb(30, 30, 30);
  color: rgb(255, 255, 255, 0.7);
}

.btn-container > button:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transform: scale(1.2);
  /* transform: rotate(20deg); */
}

.btn-container .far {
  font-size: 6rem;
  padding: 25px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-start-game {
  animation: rotate 1s; 
}

.instructions {
  font-size: 1.5rem;
  display: none;
}

.show-instructions {
  display: block;
}

.modal-div {
  position: absolute;
  height: 300px;
  width: 500px;
  background-color: lightskyblue;
  color: black;
  top: 35%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 20;
  visibility: hidden;
}

.modal-btn-container > button {
  border: none;
  font-size: 2rem;
  background-color: rgb(255, 255, 255, 0.01);
  margin: 0px 30px;
  cursor: pointer;
  text-transform: capitalize;
}

.modal-btn-container > button:hover {
  color: white;
}

.modal-text {
  text-align: center;
  padding: 0px 10px;
}

.fa-trophy {
  font-size: 2rem;
  display: inline-block !important;
} 

.fa-smile {
  font-size: 2rem;
  display: inline-block !important;
}

.fa-frown {
  font-size: 2rem;
  display: inline-block !important;
}

.fa-sad-cry {
  font-size: 2rem;
  display: inline-block !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgb(30, 30, 30, 0.1);
  z-index: 10;
  visibility: hidden;
}

.user-win {
  background: green;
}

.comp-win {
  background: red;
}

.visible {
  visibility: visible !important; 
}

.displayNone {
  display: none;
}